:root {
  --bag-color: #f5f5f5;
  --text-color: #6c757d;
  --accent-color: #ffd333;
  --constrast-color: #3d464d;
}
/*================================================================ General rules start ================================================================*/
html,
body {
  height: 100%;
}
body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main.main {
  flex: 1 1 auto;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/*================================================================ General rules end ================================================================*/
.row-equal-height > .col-md-4 {
  display: flex;
}

.card-equal-height {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-equal-height .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-equal-height .card-text {
  flex: 1;
}
.cards-margin {
  margin-top: 100px;
}
.cards-margin {
  justify-content: center;
}
.wrapper {
  background: linear-gradient(
    90deg,
    rgba(0, 150, 209, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}
.navbar-background {
  background: grey;
}

/* Emeralds */
.Coins a.see-all {
  display: inline-block;
  width: 150px;
  height: 50x;
  font-size: 35px;
  border-radius: 10px;
  background: #5cff33;
  color: #fff;
  text-align: center;
  margin-top: 30px;
}
.Coins {
  display: flex;
  flex-direction: column;
}
.Coins-backround {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.Coins h3.Shop-name {
  color: #fff;
  font-size: 50px;
}
.Coins a.see-all:hover {
  background-color: #ff3333;
  transform: scale(1.1);
  transition: 0.3s;
}
.Coins .emeralds-blocks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 0;
}
.Coins .emeralds-blocks span {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #fff;
}
.Coins .emeralds-blocks button {
  display: block;
  border-radius: 5px;
  background: blue;
  color: #ccc;
  width: 50px;
  height: 40px;
  margin: 10px auto;
}
.item-img1 {
  width: 139px;
  height: 170px;
  object-fit: contain;
}
/*============================================================= footer ================================================================================================== */
header .logo,
footer .blocks .logo {
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 800;
  color: #fff;
  display: inline-block;
}

footer {
  background: #000;
  padding: 50px 0;
}

footer .blocks {
  display: flex;
  justify-content: space-between;
}

footer .blocks p {
  width: 300px;
  margin: 15px 0;
}

footer .blocks h4 {
  font-weight: 500;
  font-size: 17px;
}

footer .blocks ul {
  list-style: none;
}

footer .blocks ul li {
  margin-top: 7px;
  opacity: 0.8;
}

footer hr {
  margin: 30px 0;
  border: 0;
  height: 0.6px;
  background: #ccc;
}

footer > p {
  text-align: center;
}
